<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>

    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="DBCloudConn" connectionString="Server=mysql6001.site4now.net;Port=3306;Database=db_a418f0_martini;Uid=a418f0_martini;Pwd=martini383940;use procedure bodies=false;" providerName="MySQL.Data.MySqlClient;" />
    <add name="DBSQLiteLocalConn" connectionString="Data Source= WServices.sqlite;Version=3;" providerName="System.Data.SQLite;" />
  </connectionStrings>
  <appSettings>
    <add key="DbVendor" value="MySQL" />
  </appSettings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>